<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaGestãoHotelParaiso.Properties.Settings.BDSGHPConnectionString"
            connectionString="Data Source=XD\SQLEXPRESS;Initial Catalog=BDSGHP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaGestãoHotelParaiso.Properties.Settings.BD_SGHPConnectionString"
            connectionString="Data Source=XD\SQLEXPRESS;Initial Catalog=BD_SGHP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>